
<div style="zoom:75%;zoom:.75">
<div class="row">
	<div class="small-4 columns">
		<label >First field</label>
		<select ng-model="selectedLeft" ng-options="left for left in lefts"/>
	</div>
	<div class="small-4 columns">
		<label>Comparator</label>
		<select ng-model="selectedComp" ng-options="comp.name for comp in comps"/>
	</div>
	<div class="small-4 columns">
		<label>Second field</label>
		<input type="text" ng-model="selectedRight"/>
	</div>
</div>
<!-- <button>Add statement</button> -->
<div class="row" >
	<button ng-click="submit()">Create Magnet</button>
	<p>{{invalidInput}}</p>
</div>
</style>

		

