
<div class="row">
	<div class="small-4 columns">
		<label >First field</label>
		{{fields1}}
		<select ng-model="myField1" ng-options="field1.name for field1 in fields1" ng-init="test"/></select>
	</div>
	<div class="small-4 columns">
		<label>Comparator</label>
		<select type="text" /></select>
	</div>
	<div class="small-4 columns">
		<label>Second field</label>
		<select ng-options="field2.name for field2 in fields2" type="text" /></select>
	</div>
</div>

<div class="row" >
	<button ng-click="submit()">Create Magnet</button>
</div>

		<!-- <button>Add statement</button> -->

