body{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

h1{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	font-style: bold;
}

table{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}