.dataPoint {
  fill: purple;
}

.magnet {
  fill: orange;
}

body{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	zoom: 75%;
	zoom: .75;
}

h1{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

table{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.sort:hover {
	background-color: #F9F9F9;
	cursor: pointer; cursor: hand;
}

.dataVis{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}

.magneticField{
	text-align:center;
}

.dataset{
	display: inline-block;
	text-align: left;
}

select{
	font-size: 12pt;
	height: auto;
	width: auto;
	min-width: 300px;
}

footer{
	margin: 40px;
	text-align: center;
}


